body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('assets/ash.jpg'); 
    background-size: cover; 
    background-position: top;
    background-repeat: no-repeat; 
    position: relative;
    height: 100vh;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    padding: 15px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:left
}

.navbar-links li {
    display: inline-block;
    margin: 0 15px;
}

.navbar-links .nav-link{
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-links .nav-link:hover {
    color: #9e9e9e; 
}

.logo{
    margin-left: 30px;
}

.navbarTabs{
    margin-right: 30px;
}

.weatherVariables{
    display: flex;
    

}

.weatherVars, .cityDescrip{
    color: grey;
}
.content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.form-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
    text-align: center;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: black;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(29, 29, 29);
}

.irrigation_status, .loadModel{
    color: #f7f9fc;
}

p {
    margin-top: 20px;
    color: white;
    text-align: center;
}

.log-btn{
    color: #40da11;
    text-decoration: none;
}

.log-btn:hover{
    color: #07ff3d;
}

.switch-link {
    margin-top: 10px;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
}

.switch-link:hover {
    text-decoration: underline;
}

.container{
    align-items: center;
}

.dashboard-container, .irrigationStates {
    position: relative;
    z-index: 2;
    padding: 40px;
    margin-top: 20px;
}

.dashboard-header h1 {
    margin-bottom: 10px;
    font-size: 2em;
    color: #333;
}

.dashboard-header p {
    margin-bottom: 30px;
    font-size: 1.2em;
    color: #777;
}

.dashboard-content {
    margin-bottom: 30px;
}

.logout-link {
    color: #ff4b5c;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.logout-link:hover {
    color: #ff6f61;
}

.dashboard-footer {
    margin-top: 20px;
}

.weatherContainer{
    background: rgba(255, 255, 255, 0.3);
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    z-index: 2;
}

.wat-title{
    color: white;
}

.city{
    max-width: 25%;
}

.city-btn{
    max-width: 10%;
}


#weather-icon {
    width: 100px;
    margin: 20px auto;
    display: block;
}

#temp-div {
    font-size: 2.5em;
    margin: 20px 0;
}

#weather-info p {
    font-size: 1.2em;
}

#hourly-forecast, .weatherDetails {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.weatherDetails{
    background-color: #f7f9fc;
    border: 1px solid #dce3eb;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.hourly-item {
    background-color: #f7f9fc;
    border: 1px solid #dce3eb;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 70px;
}

.hourly-item img {
    width: 40px;
    margin: 10px 0;
}

.hourly-item span {
    display: block;
    color: #0e0e0e;
    font-size: 1em;
    margin-top: 5px;
}

@media screen and (max-width: 600px) {
    .dashboard-container {
        padding: 20px;
        width: 90%;
    }

    .city {
        width: 100%;
        margin-bottom: 10px;
    }

    .city-btn {
        width: 100%;
    }

    #hourly-forecast {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hourly-item {
        margin-bottom: 10px;
    }
}

.location-btn{
    max-width: 20%;
}





